---
interface Props {
  content: any;
}

const { content } = Astro.props;
---

<article class='prose-slate w-sm md:w-prose md:prose poppins'>
  <a href='/series/' title='Volver a series'>&larr; Volver a series</a>
  <p class='text-slate text-sm md:text-base'>
    Publicado en {content.pubDate} por {content.author}
  </p>
  <slot />
  <p class='text-slate'>Hecho por {content.author}</p>
  <a href='/series/' title='Volver a series'>&larr; Volver a series</a>
</article>
