---
import type { CollectionEntry } from 'astro:content';
import SeriesSummaryCard from './SeriesSummaryCard.astro';

interface Props {
  posts: CollectionEntry<'series'>[];
}

const { posts } = Astro.props;
---

<ul class='grid md:grid-cols-2 lg:grid-cols-3 gap-8'>
  {
    posts.map((post) => {
      return (
        <li>
          <SeriesSummaryCard post={post} />
        </li>
      );
    })
  }
</ul>
