---
import Layout from './Default.astro';
import SeriesSideBar from '@components/series/SeriesSideBar.astro';
import SeriesContent from '@components/series/SeriesContent.astro';

const ogImage = new URL(`/v1/generate/og/${Astro.params.slug}.png`, Astro.url);

const { content, headings } = Astro.props;
const { title, description } = content;
---

<Layout
  title={title as string}
  description={description as string}
  ogImage={ogImage}
>
  <main class='p-6 lg:grid lg:grid-cols-3 flex justify-center'>
    <SeriesSideBar headings={headings} />
    <SeriesContent content={content}>
      <slot />
    </SContent>
  </main>
</Layout>
